.avis {
  display: flex;
  justify-content: space-between;
}

.stars {
  display: flex;
}

.star {
  width: 15px;
  height: 15px;
  color: #e3e3e3;
}

.star:hover {
  cursor: pointer;
  color: #ff6060;
}

.name {
  color: #ff6060;
}
