/* Marge mise au body par une class car sinon 
le footer le feraît pas l'intégralité de la page
 et aurait également le margin de 20px */
.body {
  margin: 20px;
}

/* Image de font de la banner de la page d'accueil */
.bannerHome {
  background-image: url(../../../public/img/backgroundhome.png);
  filter: brightness(0.9);
  background-size: cover;
  border-radius: 10px;
}