.cards {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

figure {
  margin: 0;
  margin-bottom: 22px;
  background: #ff6060;
  border-radius: 10px;
}

figcaption {
  padding: 4px;
}

.figure {
  height: 255px;
  display: flex;
  align-items: flex-end;
}

.figcaption {
  width: 35%;
}

.HomeParagraphCards {
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin-left: 16px;
}
