.cards {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100% 
  );
}

.cardHome {
  margin: 0;
  margin-bottom: 22px;
  background: #ff6060;
  border-radius: 10px;
  font-style: none;
  height: 255px;
  list-style: none;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  background-size: cover;
}

.cards:hover {
  cursor: pointer;
}

/* taille et marge du bas des li */
.li {
  width: 42%;
  margin-bottom: 15px;
  
}

.links {
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-align: start;
  text-decoration: none;
}

/* Ombrage sur le text pour le voir sur les images claires */
.textShadow {
  text-shadow: 0px 0px 4px grey;
}

/* Media query */

@media screen and (min-width: 425px) {
  /* Mise en place de la flexbox pour que les cards soient côte à côte */
.divCards {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.links {
  width: 49%;
}

.cardHome {
  height: 153px;
}
}

@media screen and (min-width: 768px) {
  .cardHome {
    height: 240px;
  }
}

@media screen and (min-width: 1024px) {
  .links {
    width: 32%;
  }
}

@media screen and (min-width: 1440px) {
  .cardHome {
    height: 353px;
  }
}


