/* utilisation de la flexbox pour placer 
le logo et les liens 
côte à côte et à l'opposé l'un de l'autre */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divHeader {
  width: 50%;
}

.logo {
  width: 50%;
}

/* Utilisation de la flexbox pour les liens 
pour qu'ils soient côte à côte */
.linksHeader {
  display: flex;
}

.link {
  color: #ff6060;
  font-size: 12px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 16px;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Média query pour changer la taille de la police 
ainsi que la marge entre les 2 liens */
@media screen and (min-width: 768px) {

  .link {
    font-size: 24px;
    margin-left: 30px;
  }
}
