.caracteristiques {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #FF6060;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  padding-left: 5px;
}

.collapsName {
  font-size: 13px;
}

.informations {
  color: #FF6060;
  background-color: #F6F6F6;
  padding-top: 17px;
  padding-left: 11px;
  padding-right: 2px;
  padding-bottom: 2px;
  font-size: 12px;
}

.icon {
  margin-right: 5px;
}

.visible {
  display: block;
}

.paragraphCollapse {
  color: #FF6060;
  margin: 0;
}