.caracteristiques {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #FF6060;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  padding-left: 5px;
}

.informations {
  color: #777;
  background-color: #777;
  padding: 3rem;
  display: none;
}

.icon {
  margin-right: 5px;
}

.visible {
  display: block;
}

.paragraphCollapse {
  color: white;
}