/* éléments pour la mise en place de 404 */
.errorPage h1 {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-weight: bold;
  font-size: 96px;
  line-height: 142.6%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ff6060;
  margin: auto;
}

/* éléments pour le paragraphe oups */
.errorPage p {
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  color: #ff6060;
  margin: auto;
  width: 62%;
  margin-bottom: 133px;
  margin-top: 11px;
}

/* Mise en place des éléments pour le lien de retour à la page d'accueil */
.goToHome {
  font-size: 14px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  text-decoration-line: underline;
  text-align: center;
  justify-content: center;
  margin-top: 8%;
  color: #ff6060;
  margin-bottom: 10%;
}

/* Média query */

@media screen and (min-width: 768px) {
  .errorPage p {
    margin-bottom: 182px;
    margin-top: 66px;
    font-size: 36px;
  }

  .errorPage h1 {
    font-size: 288px;
  }

  .goToHome {
    font-size: 18px;
  }
}