body {
  margin: 0;
}

.footer {
  background-color: black;
}

.marginTopBottom {
  margin-top: 62px;
  margin-bottom: 15px;
}

.footerDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightsReserved {
  font-size: 12px;
  color: white;
  margin-bottom: 62px;
}
