/* Mise du margin à 0px sinon le footer 
n'apparaît pas entièrement car il est coupé par la marge */
body {
  margin: 0;
}

.footer {
  background-color: black;
}

.marginTopBottom {
  margin-top: 62px;
  margin-bottom: 15px;
}

/* Utilisation de la flexbox pour que les élèments soient centrés et en colonne 
et pour ne pas avoir a changer les marges et les paddings à chaque taille d'écran */
.footerDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightsReserved {
  font-size: 12px;
  color: white;
  margin-bottom: 62px;
}

/* Média query pour changer la taille de la police ainsi que la taille du logo */
@media screen and (min-width: 1024px) {
  .rightsReserved {
    font-size: 24px;
  }

  .logoFooter {
    width: 200px;
  }
}
