.card {
  background-image: url(../../../public/img/backgroundhome.png);
  filter: brightness(0.9);
  background-size: cover;
}

.container {
  max-width: 191px;
}

.divContainer {
  width: 100%;
  margin-left: 16px;
}

.HomeParagraph {
  font-size: 24px;
  color: white;
  /* width: 70%; */
  filter: drop-shadow(2px 4px 6px black);
  font-weight: 500;
}

.figure {
  margin: 0;
  margin-bottom: 22px;
  border-radius: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .HomeParagraph {
    font-size: 48px;
    width: 100%;
    text-align: center;
  }

  .container {
    max-width: 100%;
  }

  .figure {
    margin-bottom: 43px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    height: 176px;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    height: 223px;
  }
}


